{% extends 'bibliocommuneBundle::home.html.twig' %}


{% block slider %}
{% endblock %}
{% block global %}


<div class="global indent">
    <!--content-->
    <div class="container padBot">
        <div class="row">
            <article class="col-lg-12 col-md-12 col-sm-12 galleryBox">
                <h3>featured programs</h3>
                <div class="row">
                    <article class="col-lg-6 col-md-6 col-sm-6">
                        <div class="thumb-pad3 maxheight" style="height: 178px;"><div class="box_inner">
                                <div class="thumbnail">
                                    <figure><img src="{{ asset ('img/page3_pic1.jpg') }}" alt=""></figure>
                                    <div class="caption">
                                        <a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Integer ut mauris.</a>
                                        <p>Donec hendrerit metus quis velit sollicitudin tincidunt. Ut ullamcorper, augue at sollicitudin tempus, lectus justo aliquam massa, congue suscipit risus metus eget libero. Donec varius libero a dui egestas dictum. In ut enim et purus sollicitudin consectetur.</p>
                                    </div>
                                </div>
                            </div></div>
                        <div class="thumb-pad3 maxheight" style="height: 178px;"><div class="box_inner">
                                <div class="thumbnail">
                                    <figure><img src="{{ asset ('img/page3_pic2.jpg')}}" alt=""></figure>
                                    <div class="caption">
                                        <a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">mauris a nisl suscipit.</a>
                                        <p>Mauris at augue dignissim, bibendum ante ac, condimentum ante. Fusce feugiat diam enim, vitae rutrum purus semper nisl! Cras commodo dolor lobortis massa luctus mollis. Cras commodo, felis at tempor sodales, nulla ante posuere sapien, non placerat nisi.</p>
                                    </div>
                                </div>
                            </div></div>
                        <div class="thumb-pad3 maxheight" style="height: 178px;"><div class="box_inner">
                                <div class="thumbnail">
                                    <figure><img src="{{ asset ('img/page3_pic3.jpg') }}" alt=""></figure>
                                    <div class="caption">
                                        <a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">nisl suscipitmod.</a>
                                        <p>Phasellus posuere non justo vel ornare. Nulla sollicitudin adipiscing condimentum nunc eu cursus. Sed ligula dolor, eleifend nec hendrerit vitae, pretium a odio. Proin eget magna scelerisque sed? Quisque ac nunc pellentesque, rutrum felis a, ornare sem.</p>
                                    </div>
                                </div>
                            </div></div>
                    </article>
                    <article class="col-lg-6 col-md-6 col-sm-6">
                        <div class="thumb-pad3">
                            <div class="thumbnail">
                                <figure><img src="{{ asset ('img/page3_pic4.jpg') }}" alt=""></figure>
                                <div class="caption">
                                    <a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">suscipit pellente.</a>
                                    <p>Mauris at augue dignissim, bibendum ante ac, condimensemper nisl! Cras commodo dolor lobortis massa luctus mollis. Cras commodo, felis at tempor sodales, nulla ante Cras aliquet dignissim semper? Nullam ac justo vitae arcu mollis rutrum. Nam laoreet blandit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="thumb-pad3">
                            <div class="thumbnail">
                                <figure><img src="{{ asset ('img/page3_pic5.jpg') }}" alt=""></figure>
                                <div class="caption">
                                    <a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">mod ictor utligulat.</a>
                                    <p>Cras commodo dolor lobortis massa luctus mollis. Cras diam iaculis aliquam. Cras rutrum lorem leo, at sollicitudin arcu tempor eu? Sed elementum magna nec fermentum fringilla. Integer a sapien posuere, laoreet ante sit amet, viverra diam? Aliquam aliquet nisl.</p>
                                </div>
                            </div>
                        </div>
                        <div class="thumb-pad3">
                            <div class="thumbnail">
                                <figure><img src="{{ asset('img/page3_pic6.jpg') }}" alt=""></figure>
                                <div class="caption">
                                    <a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">eameti dapibustic.</a>
                                    <p>Nulla vestibulum orci est, sed sagittis purus lobortis eu! nulla. Duis convallis nisi id rutrum commodo.Pellentesque purus. Sed tincidunt malesuada leo et adipiscing. Integer at vestibulum lacus. Morbi varius, justo sed vestibulum ornare, leo velit vulputate.</p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </article>
            <article class="col-lg-8 col-md-8 col-sm-8">
                <h3>FAST FACTS</h3>
                <div class="row">
                    <article class="col-lg-6 col-md-6 col-sm-6">
                        <ul class="list4">
                            <li>
                                <div class="badge">A.</div>
                                <div class="extra-wrap">
                                    <p><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">esque pretium metus et.</a><br>Donec hendrerit metus quis velit sollicitudin tincidunt. Ut aliquam massa, congue suscipit risus metus eget libero. Donec varius libero a dui egestas dictum.</p>
                                </div>
                            </li>
                            <li>
                                <div class="badge">C.</div>
                                <div class="extra-wrap">
                                    <p><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">mattis ultricies vitae ac.</a><br>Donec fermentum diam ac sollicitudin metus, metus et interdum eleifend. Integer posuere. malesuada venenatis, sapien justo volutpat justo, sed volutpat.</p>
                                </div>
                            </li>
                        </ul>
                    </article>
                    <article class="col-lg-6 col-md-6 col-sm-6">
                        <ul class="list4">
                            <li>
                                <div class="badge">B.</div>
                                <div class="extra-wrap">
                                    <p><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Sed lectus quam, dignissim.</a><br>Quisque egestas elit augue, et vulputate placerat nisl a commodo. Proin at rhoncus tesque sed elit at turpis interdum scelerisque dictum nec tellus.</p>
                                </div>
                            </li>
                            <li>
                                <div class="badge">D.</div>
                                <div class="extra-wrap">
                                    <p><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Duis at dolor quis turpis.</a><br>Ut aliquam massa, congue suscipit risus metus eget libero. Donec varius libero a dui egestas dictum. In ut enim et purus sollicitudin consectetur.</p>
                                </div>
                            </li>
                        </ul>
                    </article>
                </div>
            </article>
            <article class="col-lg-4 col-md-4 col-sm-4">
                <h3>all programs</h3>
                <ul class="list5">
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Malesuada nec sagittis et luctus eget eros</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Donec luctus posuere nisl</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Non tempus lacus commodo ut integer eros</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Augue, semper nec consectetur</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Quisque ipsum massa faucibus sit amet auctor</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Vivamus blandit justo et tempor pellentes</a></li>
                    <li><a href="https://livedemo00.template-help.com/wt_48292/index-2.html#">Diam eros mattis nulla non blandit</a></li>
                </ul>
            </article>
        </div>
    </div>
</div>
{% endblock %}