<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Moltran - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href={{asset("templatead/assets/images/favicon_1.ico")}}>

    <link href="{{asset('templatead/assets/plugins/sweetalert/dist/sweetalert.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('templatead/assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('templatead/assets/css/core.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('templatead/assets/css/icons.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('templatead/assets/css/components.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('templatead/assets/css/pages.css')}} "rel="stylesheet" type="text/css">
    <link href="{{asset('templatead/assets/css/menu.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('templatead/assets/css/responsive.css')}}" rel="stylesheet" type="text/css">

    <script src={{asset("templatead/assets/js/modernizr.min.js")}}></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


</head>


<body class="fixed-left">
{% block header %}
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="" class="logo"><i class="md md-terrain"></i> <span>Bibliocommune</span></a>
                </div>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            <button type="button" class="button-menu-mobile open-left">
                                    <i class="fa fa-bars"></i>
                                </button>
                            <span class="clearfix"></span>
                        </div>
                        <form class="navbar-form pull-left" role="search">
                            <div class="templatead/form-group">
                                <input type="text" class="templatead/form-control search-bar" placeholder="Type here for search...">
                            </div>
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </form>

                        <ul class="nav navbar-nav navbar-right pull-right">
                            <li class="dropdown hidden-xs">
                                <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                    
                                    <i class="md md-notifications"></i> <span class="badge badge-xs badge-danger">3</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg">
                                    <li class="text-center notifi-title">Notification</li>
                                    <li class="list-group">
                                        <!-- list item-->
                                        <a href={{asset("templatead/javascript:void(0);" )}}class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <em class="fa fa-user-plus fa-2x text-info"></em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">New user registered</div>
                                                    <p class="m-0">
                                                        <small>You have 10 unread messages</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- list item-->
                                        <a href={{asset("templatead/javascript:void(0);")}} class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <em class="fa fa-diamond fa-2x text-primary"></em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">New settings</div>
                                                    <p class="m-0">
                                                        <small>There are new settings available</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- list item-->
                                        <a href={{asset("templatead/javascript:void(0);")}} class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <em class="fa fa-bell-o fa-2x text-danger"></em>
                                                </div>
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">Updates</div>
                                                    <p class="m-0">
                                                        <small>There are
                                                          <span class="text-primary">2</span> new updates available</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- last list item -->
                                        <a href={{asset("templatead/javascript:void(0);")}} class="list-group-item">
                                            <small>See all notifications</small>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hidden-xs">
                                <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="md md-crop-free"></i></a>
                            </li>
                            <li class="hidden-xs">
                                <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="md md-chat"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                                <ul class="dropdown-menu">
                                    <li><a href={{asset("templatead/javascript:void(0)")}}><i class="md md-face-unlock"></i> Profile</a></li>
                                    <li><a href={{asset("templatead/javascript:void(0)")}}><i class="md md-settings"></i> Settings</a></li>
                                    <li><a href={{asset("templatead/javascript:void(0)")}}><i class="md md-lock"></i> Lock screen</a></li>
                                    <li><a href={{asset("templatead/javascript:void(0)")}}><i class="md md-settings-power"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

{% endblock %}
{% block sidebar %}
        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <div class="user-details">
                    <div class="pull-left">
                        <img src={{asset("templatead/assets/images/dieyna.jpeg")}} alt="" class="thumb-md img-circle">
                    </div>
                    <div class="user-info">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">TENE<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href={{asset("templatead/javascript:void(0)")}}><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                                <li><a href={{asset("templatead/javascript:void(0)")}}><i class="md md-settings"></i> Settings</a></li>
                                <li><a href={{asset("templatead/javascript:void(0)")}}><i class="md md-lock"></i> Lock screen</a></li>
                                <li><a href={{asset("templatead/javascript:void(0)")}}><i class="md md-settings-power"></i> Logout</a></li>
                            </ul>
                        </div><p class="text-muted m-0">Administrator</p>
                    </div>
                </div>
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <li>
                            <a href="" class="waves-effect"><i class="md md-home"></i><span> Dashboard </span></a>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect"><i class="md md-mail"></i><span> Mail </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                
                            </ul>
                        </li>

                        <li>
                            <a href="" class="waves-effect"><i class="md md-event"></i><span> Calendar </span></a>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect"><i class="md md-palette"></i> <span> Elements </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect"><i class="md md-invert-colors-on"></i><span> Components </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                              
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect"><i class="md md-redeem"></i> <span> Icons </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href={{asset("templatead/javascript:void(0);")}} class="waves-effect"><i class="md md-share"></i><span>Multi Level </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul>
                                <li class="has_sub">
                                    <a href={{asset("templatead/javascript:void(0);")}} class="waves-effect"><span>Menu Level 1.1</span> <span class="pull-right"><i class="md md-add"></i></span></a>
                                    <ul style="">
                                        <li><a href="javascript:void(0);"><span>Menu Level 2.1</span></a></li>
                                        <li><a href={{asset("templatead/javascript:void(0);")}}><span>Menu Level 2.2</span></a></li>
                                        <li><a href={{asset("templatead/javascript:void(0);")}}><span>Menu Level 2.3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href={{asset("templatead/javascript:void(0);")}}><span>Menu Level 1.2</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->

{% endblock %}
{% block body %}
{% block right %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">

                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                                              </div>
                    </div>

                    <!-- Start Widget -->
                    <!--Widget-4 -->
                    <!-- End row-->


                    <div class="row">
                        <div class="col-lg-8">
                            <div class="portlet">
                                <!-- /portlet heading -->
                              
                            <!-- /Portlet -->
                        </div>
                        <!-- end col -->

                        <div class="col-lg-4">
                            <div class="portlet">
                                <!-- /portlet heading -->
                              
                            <!-- /Portlet -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- End row -->


                    <div class="row">
                        <!-- INBOX -->
                        <!-- end col-->


                        <!-- TODOs -->
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div>
                <!-- container -->

            </div>
            <!-- content -->

            <footer class="footer text-right">
                2016 © Moltran.
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
{% endblock %}
{% block  rightside %}
        <!-- Right Sidebar -->
        <div class="side-bar right-bar nicescroll">
            <h4 class="text-center">Chat</h4>
            <div class="contact-list nicescroll">
                <ul class="list-group contacts-list">
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-1.jpg")}} alt="">
                            </div>
                            <span class="name">Chadengle</span>
                            <i class="fa fa-circle online"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-2.jpg")}} alt="">
                            </div>
                            <span class="name">Tomaslau</span>
                            <i class="fa fa-circle online"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-3.jpg")}} alt="">
                            </div>
                            <span class="name">Stillnotdavid</span>
                            <i class="fa fa-circle online"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-4.jpg")}} alt="">
                            </div>
                            <span class="name">Kurafire</span>
                            <i class="fa fa-circle online"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-5.jpg")}} alt="">
                            </div>
                            <span class="name">Shahedk</span>
                            <i class="fa fa-circle away"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-6.jpg")}} alt="">
                            </div>
                            <span class="name">Adhamdannaway</span>
                            <i class="fa fa-circle away"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-7.jpg")}} alt="">
                            </div>
                            <span class="name">Ok</span>
                            <i class="fa fa-circle away"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-8.jpg")}} alt="">
                            </div>
                            <span class="name">Arashasghari</span>
                            <i class="fa fa-circle offline"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-9.jpg")}} alt="">
                            </div>
                            <span class="name">Joshaustin</span>
                            <i class="fa fa-circle offline"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src={{asset("templatead/assets/images/users/avatar-10.jpg")}} alt="">
                            </div>
                            <span class="name">Sortino</span>
                            <i class={{asset("templatead/fa fa-circle offline")}}></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Right-bar -->
{% endblock %}
    </div>
    <!-- END wrapper -->
{% endblock %}


    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src={{asset("templatead/assets/js/jquery.min.js")}}></script>
    <script src={{asset("templatead/assets/js/bootstrap.min.js")}}></script>
    <script src={{asset("templatead/assets/js/detect.js")}}></script>
    <script src={{asset("templatead/assets/js/fastclick.js")}}></script>
    <script src={{asset("templatead/assets/js/jquery.slimscroll.js")}}></script>
    <script src={{asset("templatead/assets/js/jquery.blockUI.js")}}></script>
    <script src={{asset("templatead/assets/js/waves.js")}}></script>
    <script src={{asset("templatead/assets/js/wow.min.js")}}></script>
    <script src={{asset("templatead/assets/js/jquery.nicescroll.js")}}></script>
    <script src={{asset("templatead/assets/js/jquery.scrollTo.min.js")}}></script>

    <script src={{asset("templatead/assets/js/jquery.app.js")}}></script>

    <!-- jQuery  -->
    <script src={{asset("templatead/assets/plugins/moment/moment.js")}}></script>

    <!-- jQuery  -->
    <script src={{asset("templatead/assets/plugins/waypoints/lib/jquery.waypoints.js")}}></script>
    <script src={{asset("templatead/assets/plugins/counterup/jquery.counterup.min.js")}}></script>

    <!-- jQuery  -->
    <script src={{asset("templatead/assets/plugins/sweetalert/dist/sweetalert.min.js")}}></script>


    <!-- flot Chart -->
    <script src={{asset("templatead/assets/plugins/flot-chart/jquery.flot.js")}}></script>
    <script src={{asset("templatead/assets/plugins/flot-chart/jquery.flot.time.js")}}></script>
    <script src={{asset("templatead/assets/plugins/flot-chart/jquery.flot.tooltip.min.js")}}></script>
    <script src={{asset("templatead/assets/plugins/flot-chart/jquery.flot.resize.js")}}></script>
    <script src={{asset("templatead/assets/plugins/flot-chart/jquery.flot.pie.js")}}></script>
    <script src={{asset("templatead/assets/plugins/flot-chart/jquery.flot.selection.js")}}></script>
    <script src={{asset("templatead/assets/plugins/flot-chart/jquery.flot.stack.js")}}></script>
    <script src={{asset("templatead/assets/plugins/flot-chart/jquery.flot.crosshair.js")}}></script>

    <!-- jQuery  -->
    <script src="assets/pages/jquery.todo.js"></script>

    <!-- jQuery  -->
    <script src={{asset("templatead/assets/pages/jquery.chat.js")}}></script>

    <!-- jQuery  -->
    <script src={{asset("templatead/assets/pages/jquery.dashboard.js")}}></script>

    <script type={{asset("templatead/text/javascript")}}>
        /* ==============================================
                            Counter Up
                            =============================================== */
        jQuery(document).ready(function($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
        });
    </script>


</body>

</html>